extends layout

mixin type1desc
  td.uk-text-large
    strong.uk-text-success Global(NOT INDIA) invite with account
  td.uk-text-large.uk-text-warning #{type1}
  td.uk-text-large.uk-text-danger 2$
    td
      if type1 == 0
        button.uk-button.uk-button-primary(disabled) Buy
      else
        a.uk-button.uk-button-primary(href="/buy1") Buy

block content
  div.uk-container.main
    div.uk-grid
      div.uk-width-medium-1-2.uk-width-large-1-2.uk-width-small-1-1
        div.uk-margin-top
          div.uk-panel.uk-panel-box.uk-margin-bottom
            div.uk-panel-teaser
              img(src="/img/oneplus/invite.png", alt="")
            h1.uk-h4.uk-margin-remove Here you can get an #[strong INVITE] to buy #[strong OnePlus 2]
          div.uk-panel.uk-panel-box.uk-margin-bottom
            h3.uk-panel-title #[i.uk-icon-mobile] Invites
            table.uk-table.uk-table-hover
              caption Invites and accounts to buy OnePlus 2
              thead
                tr
                  th Type of invite
                  th Quantity
                  th Price
                  th
              tbody
                if type1 == 0
                  tr(data-uk-tooltip="{pos:'right'}", title="Currently not available")
                    mixin type1desc
                else
                  tr
                    mixin type1desc
            a.uk-h2.uk-text-danger.uk-text-bold(href="/faq") READ FAQ (LIST OF COUNTRIES)
          a.twitter-timeline(href="https://twitter.com/oneinvites", data-widget-id="640100674269802496") Tweets by @oneinvites
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      div.uk-width-medium-1-2.uk-width-large-1-2.uk-hidden-small
        div.uk-margin-top.b-feedback
          #auction-nudge-feedback.auction-nudge
            img#an-ebay-logo(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/right-now-on-ebay-83x48.png')
            .an-fb-meta
              ul.an-fb-profile
                li.an-user
                  a(rel='nofollow', target='_blank', href='http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&userid=oneinvites&ftab=FeedbackAsSeller') oneinvites
                  |  (33
                  span.an-star
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconYellowStar_25x25.gif')
                  | )
                li.an-percent
                  | Positive Feedback:
                  span.an-num 100.0%
                  |  (last 12 months)
                li.an-register Member since: 24-Feb-11 in United Kingdom
              table.an-ft(cellpadding='0', cellspacing='0')
                caption Recent Feedback ratings
                tbody
                  tr.an-ft-head
                    th.an-fb-icon
                    th.an-ft-30 1 month
                    th.an-ft-180 6 months
                    th.an-ft-365 12 months
                  tr.an-ft-pos
                    th.an-fb-icon
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                    td.an-fb-30 0
                    td.an-fb-180 2
                    td.an-fb-365 19
                  tr.an-ft-neu
                    th.an-fb-icon
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconNeu_16x16.gif')
                    td.an-fb-30 0
                    td.an-fb-180 0
                    td.an-fb-365 0
                  tr.an-ft-neg
                    th.an-ft-icon
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconNeg_16x16.gif')
                    td.an-ft-30 0
                    td.an-ft-180 0
                    td.an-ft-365 0
              table.an-fr(cellpadding='0', cellspacing='0')
                caption Detailed Seller Ratings
                tbody
                  tr.an-fr-head
                    th.an-fr-criteria Criteria
                    th.an-fr-rating Average rating
                    th.an-fr-count Number of ratings
                  tr.an-fr-item
                    th.an-fr-criteria Item as described
                    td.an-fr-rating
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                    td.an-fr-count 12
                  tr.an-fr-comm
                    th.an-fr-criteria Communication
                    td.an-fr-rating
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                    td.an-fr-count 12
                  tr.an-fr-time
                    th.an-fr-criteria Shipping time
                    td.an-fr-rating
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar80_17x14.gif')
                    td.an-fr-count 12
                  tr.an-fr-sah
                    th.an-fr-criteria Shipping and handling charges
                    td.an-fr-rating
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                      img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconStar100_17x14.gif')
                    td.an-fr-count 15
            table.an-fb(cellpadding='0', cellspacing='0')
              tbody
                tr.an-fb-head
                  th.an-fb-icon  
                  th.an-fb-text Feedback
                  th.an-fb-from From
                  th.an-fb-when When
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment AWESOME SELLER!  Received invite within seconds on email, worked perfectly!!!
                    .an-fb-item
                  td.an-fb-from Buyer: r***u
                  td.an-fb-when 9 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Reliable seller!
                    .an-fb-item
                  td.an-fb-from Buyer: a***a
                  td.an-fb-when 9 months ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment fast shipping
                    .an-fb-item
                  td.an-fb-from Buyer: k***-
                  td.an-fb-when 10 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Worked great!
                    .an-fb-item
                  td.an-fb-from Buyer: d***x
                  td.an-fb-when 10 months ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Great ! Working
                    .an-fb-item
                  td.an-fb-from Buyer: 3***0
                  td.an-fb-when 10 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Great!
                    .an-fb-item
                  td.an-fb-from Buyer: m***l
                  td.an-fb-when 10 months ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Fast service, cheap, works!
                    .an-fb-item
                  td.an-fb-from Buyer: b***b
                  td.an-fb-when 10 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment got the info right away, and was able to order the phone
                    .an-fb-item
                  td.an-fb-from Buyer: l***a
                  td.an-fb-when 11 months ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment This guy is Awesome. Very Good Response time. He gave me FREE
                    .an-fb-item
                  td.an-fb-from Buyer: _***a
                  td.an-fb-when 11 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Good, honest, fast
                    .an-fb-item
                  td.an-fb-from Buyer: d***s
                  td.an-fb-when 11 months ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Great seller...
                    .an-fb-item
                  td.an-fb-from Buyer: e***s
                  td.an-fb-when 11 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Its ok not fast enugh to reply
                    .an-fb-item
                  td.an-fb-from Buyer: 5***l
                  td.an-fb-when 12 months ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Sehr schnelle Lieferung, alles Gut und gerne wieder!
                    .an-fb-item
                  td.an-fb-from Buyer: j***j
                  td.an-fb-when 12 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Lightning fast transaction! Just bought the phone. Thank you so much! A+++++++
                    .an-fb-item
                  td.an-fb-from Buyer: h***o
                  td.an-fb-when 12 months ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment THANK YOU SO MUCH, MAN!
                    .an-fb-item
                  td.an-fb-from Buyer: u***u
                  td.an-fb-when 12 months ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment  (¯`*•.¸ CELLULARMANIA.IT •*´¯) !  ! LASCIACI 5 STELLE !  !
                    .an-fb-item
                  td.an-fb-from Buyer: l***l
                  td.an-fb-when 1 year ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment nice and helpful seller... good communication
                    .an-fb-item
                  td.an-fb-from Buyer: s***l
                  td.an-fb-when 1 year ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment very satisfied, exactly as described!
                    .an-fb-item
                  td.an-fb-from Buyer: i***s
                  td.an-fb-when 1 year ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Bought invite gave me his account and ordered no prob. Just got delivered today
                    .an-fb-item
                  td.an-fb-from Buyer: y***c
                  td.an-fb-when 1 year ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Great, honest seller! Received e-mail shortly after payment! THANKS!
                    .an-fb-item
                  td.an-fb-from Buyer: t***e
                  td.an-fb-when 1 year ago
                tr.an-fb-entry.alt
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Great seller. Highly recommended
                    .an-fb-item
                  td.an-fb-from Buyer: r***q
                  td.an-fb-when 1 year ago
                tr.an-fb-entry
                  td.an-fb-icon
                    img(src='https://assets-auctionnudge.s3.amazonaws.com/images/theme/iconPos_16x16.gif')
                  td.an-fb-text
                    .an-fb-comment Everything as expected! Good buyer, very fast email delivery
                    .an-fb-item
                  td.an-fb-from Buyer: m***x
                  td.an-fb-when 1 year ago
            p
              a(href='https://www.auctionnudge.com/', style='display:block;font-size:11px;color:#808080;text-decoration:none;font-family:Helvetica,Arial,sans-serif')
                | eBay Feedback From
                span(style='color:#4374b7')  Auction Nudge
