extends layout

block content
  div.uk-height-1-1.uk-vertical-align.uk-text-center
    div.uk-vertical-align-middle.uk-container-center
      div.uk-panel.uk-panel-box
        h3.uk-panel-title Log in
        a(href='#{url}')
          img(src='/img/loginwithpaypalbutton.png')