extends layout

block content
  div.main.uk-container
    div.uk-panel-box.uk-margin-top
        p 1. After payment you will receive a email
        img.g-border(src="/img/manual/1.png")
        p 2. You click on the link and see your account. Then you need to register.
        img.g-border(src="/img/manual/2.png")
        p 3. Register new account
        img.g-border(src="/img/manual/3.png")
        p 4. Receive account confirmation email
        img.g-border(src="/img/manual/4.png")
        p 5. Confirm account
        img.g-border(src="/img/manual/5.png")
        p 6. Log in to your new account
        img.g-border(src="/img/manual/6.png")
        p 7. Your new account
        img.g-border(src="/img/manual/7.png")
        p 8. Open email with an invite
        img.g-border(src="/img/manual/8.png")
        p 9. Click link
        img.g-border(src="/img/manual/9.png")
        p 10. Bingo, you got an invite
        img.g-border(src="/img/manual/10.png")
