@charset "UTF-8";

html
  background url('/img/oneplus/fingerprint-unlock-img.png') top right no-repeat
  background-size cover

.phone-background
  position absolute
  top 0px
  right 0px
  z-index 10

.main
  position relative
  z-index 100

.b-feedback
  font-size 14px

#an-ebay-logo
  display none

.an-fb-meta, .an-fb, .uk-accordion-content
  background-color #f5f5f5
  border-radius 4px
  padding 5px 15px

.an-ft
  display none

.an-fr
  width 100% !important
  float none !important